<form>
    <div class="form-group">
        <label>Show Attacks Macro</label>
        <input type="checkbox" name="attacks" data-dtype="Boolean" />
    </div>
    <div class="form-group">
        <label>Show Spells Macro</label>
        <input type="checkbox" name="spells" data-dtype="Boolean" />
    </div>
    <div class="form-group">
        <label>Show Saving Throws Macro</label>
        <input type="checkbox" name="saves" data-dtype="Boolean" />
    </div>
    <div class="form-group">
        <label>Show Skills Macro</label>
        <input type="checkbox" name="skills" data-dtype="Boolean" />
    </div>
    <div class="form-group">
        <label>Show Abilities Macro</label>
        <input type="checkbox" name="abilities" data-dtype="Boolean" />
    </div>
</form>
